.choice-button {
	margin-bottom:5px;
	font-size:18px;
	background-color: #FDF8E1;
	color:#8F6C31;
}

.score-button {
	width:140px;
}

.badge {
	margin-left:10px;
}

.timer {
	width:80px;
}

.panel {
	width:605px;
	margin-left:33px;
}

.alert-success {
	text-align:center;
	font-size: 48px;

}

.alert-danger {
	text-align:center;
	font-size: 48px;
	
}

#question {
	font-size: 24px;
}

body {
	background-color:#F6F6F6;
}

#thanks {
	font-size: 9px;
}

#copyright {
	text-align: center;
	font-size:11px;
	color:#C6CBD2;
}