.choice-button {
	margin-bottom:5px;
	font-size:18px;
	background-color: #FDF8E1;
	color:#8F6C31;
}

.score-button {
	min-width:140px;
}

.badge {
	margin-left:10px;
}

.timer {
	min-width:80px;
}

.panel {
	min-width:605px;
	max-width:605px;
	margin-left:33px;
}


.alert-danger, .alert-success{
	text-align:center;
	font-size: 48px;
	
}

#question {
	font-size: 24px;
}

body {
	background-color:#F6F6F6;
}

#thanks {
	font-size: 9px;
}

#copyright {
	text-align: center;
	font-size:11px;
	color:#C6CBD2;
}

@media screen and (max-width: 768px){
	.panel {
		margin-left:0;
	}

}

@media screen and (max-width: 640px){
	.panel {
		min-width:0;
		max-width:270px;
	}
	.btn {
		min-width:0;
		font-size: 12px;
	}
	#question {
		font-size:14px;
	}

	.alert-success, .alert-danger {
		font-size:24px;
	}
	.btn.btn-success.score-button#correct-button,
	.btn.btn-danger.score-button#incorrect-button,
	.btn.btn-primary.timer#timer-button {
		min-width:0;
		max-width:100px;
		font-size: 12px;
	}
	#timer, #incorrect, #correct {
		font-size:12px;
	}
	.btn.btn-info.difficulty-button#easy,
	.btn.btn-info.difficulty-button#medium,
	.btn.btn-info.difficulty-button#hard {
		min-width:0;
		max-width:100px;
		font-size: 12px;
	}
}