.choice-button {
	margin-bottom:5px;
}

.score-button {
	width:140px;
}

.badge {
	margin-left:10px;
}

.timer {
	width:80px;
}

.panel {
	width:605px;
	margin-left:33px;
}

.alert-success {
	text-align:center;
	font-size: 60px;

}

.alert-danger {
	text-align:center;
	font-size: 60px;
	
}

#question {
	font-size: 24px;
}